# thefuck
eval $(thefuck --alias)

alias cd='z'

alias ls='lsd'
alias df='duf'

# lunarVim
alias vi='lvim'
alias vim='lvim'
alias nvim='lvim'

alias top='btm'

alias tree='tree -aI .git'
alias git-graph='git log --graph --oneline'
alias lg='lazygit'

alias grep='grep --color=auto'
alias rgrep='rgrep --color=auto'

# Open the current remote repo in github
alias github='open $(git config remote.origin.url | sed "s/git@\(.*\):\(.*\).git/https:\/\/\1\/\2/")'

# Open MarkText for note taking
alias notes='open -a MarkText'
